body,html{
    background-color: #0d1117;
    color: white;
    overflow-x: hidden;
}
.row{
    margin: 0;
    padding: 0;
}
#firstbackground{
   background-color: rgb(243, 242, 242);
   height: 100%;
}
.heading-color{
    color: #00BFFF;
}
.name{
            font-size: 10vh;
            font-family: arial;
            color: #00BFFF;
        }
        .home-pic{
            margin-top: 30%;
            box-shadow: 0 0 20px #00BFFF, inset 0 0 2px #00BFFF;
        }
        .home-pic:hover{
            transform: scale(1.1);
            transition: 0.3s;
        }
        .home-pic{
            opacity: 0;
            animation: slideBottom 1.5s ease forwards;
        }
        @keyframes slideBottom {
            0% {
                opacity: 0;
                transform: translateY(50px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .social-logo{
            color: gray;
            margin-left: 3%;
            margin-top: 10%;
        }
        .social-logo:hover{
            color: #00BFFF;
        }
        .intro{
            opacity: 0;
            animation: slideRight 1s ease-out forwards;
        }
        @keyframes slideRight {
            0% {
                opacity: 0;
                transform: translateX(80px);
            }
            100%{
                opacity: 1;
                transform: translateX(0);
            }
        }
 #aboutimg{
    box-shadow: 0 0 1px black, inset 0 0 20px black;
 }
.skills{
    border: 1px solid rgb(198, 196, 196);
    gap: 40px;
    margin-top: 3%;
}
.skills:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.lastr{
    width: 99%;
}
.project-border{
    border: 1px solid rgb(198, 196, 196);
    background-color: #0d1117;
    color: white;
}
.project-border:hover{
    transform: scale(1.05);
    transition: 0.3s;
    border: 3px solid #00BFFF;
}
.btn-all{
    background-color: #00BFFF;
    border: 1px solid black;
}
.btn-all:hover{
    background-color: transparent;
    border: 1px solid #00BFFF;
    box-shadow: 0 0 5px #00BFFF, inset 0 0 1px #00BFFF;
}
.service-border{
    background-color: #0d1117;
    color: white;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
}
.service-border::before{
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00BFFF;
    transition: top 0.5s;
    z-index: 0;
}
.service-border:hover::before{
    top: 0;
}
.service-border * {
    position: relative;
    z-index: 1;
    transition: color 0.5;
}
.service-border:hover{
    color: black;
}
.navbar-custom {
      background-color: #0d1117;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
              box-shadow: 0 0 10px white, inset 0 0 0 white;
    }
    .navbar-collapse{
        background-color: #0d1117;
    }
    
    .navbar{
        width: 100%;
    }
    .nav-link {
      color: #E2E8F0 !important;
      transition: 0.3s;
    }
    .nav-link:hover {
      color: #00BFFF !important;
    }
    .navbar-toggler {
      border-color: #00BFFF;
    }
    .navbar-toggler-icon {
      filter: drop-shadow(0 0 2px #007bff);
    }
    .main-content{
        transition: margin-top 0.4s ease;
    }
    .body.menu-open .main-content{
        margin-top: 200px;
    }
    .navbar-logo{
        width: 5%;
    }
 .backg{
            background: linear-gradient(35deg,#26d6be, #00bfff);
        }
        .btn-contact{
            background-color: #ffffff;
            color: #007bff;
        }
        .btn-contact:hover{
            background-color: #007bff;
            color: #ffffff;
            border: 1px solid black;
        }
        .navbar-nav .nav-link{
            position: relative;
            display: inline-block;
            color: #00BFFF;
        }
        .navbar-collapse{
            margin-top: -8px;
        }
        .navbar-nav .nav-link::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background: #007bff;
            transition: width 0.5s ease;
        }
        .navbar-nav .nav-link:hover::after, .navbar-nav .nav-link.active::after{
            width: 100%;
        }
    .btn-home{
        background-color: #00BFFF;
        color: black;
    }
    .btn-home:hover{
        background-color: transparent;
        color: white;
        box-shadow:  0 0 10px #00BFFF, inset 0 0 3px #00BFFF
    }
    .footer-name{
            color: #00BFFF;
        }
        .footer-link{
            text-decoration: none;
            color: white;
            position: relative;
            transition: color 0.5s ease;
        }
        .footer-link:hover{
            color: #00BFFF;
            font-weight: bold;
        }
        .footer-link::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background: #00BFFF;
            transition: all 0.5s ease;
        }
        .footer-link:hover::after {
            left: 0;
            width: 100%;
        }
        .footer{
            background: linear-gradient(130deg,#1a1a1a, #111111);
            color: #cccccc;
            box-shadow: 0 -2px 8px rgba(0, 191, 255, 0.2);
        }
        .footer-row{
            background: linear-gradient(130deg,#1a1a1a, #111111);
            color: #cccccc;
        }
        .up-icon{
            transition: 0.5s;
        }
        .up-icon:hover{
            color: #007bff;
            transform: scale(1.1);
            transition: 0.3s;
        }
@media (max-width: 576px) {
    #logos{
        width: 100%;
        margin-top: 15%;
    }
    .name{
        font-size: 8vh;
    }
}